
<!DOCTYPE html>
<html>
<head>
	<title>Plataforma Digital Georreferenciada</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Leaflet -->

	<link rel="stylesheet" href="./css/Leaflet/leaflet.css" />
	<script src="../Control/js/Leaflet/leaflet.js"></script>

	<!-- Bootstrap -->

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Plugin para criar botão no leaflet -->

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">

	<script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>

	<!-- Estilização do mapa -->

	<link rel="stylesheet" href="./css/map.css">

	<script src="https://unpkg.com/@ngageoint/leaflet-geopackage@2.0.5/dist/leaflet-geopackage.min.js"></script>

	<!-- MarkerCluster -->

    <link rel="stylesheet" href="./css/Leaflet/MarkerCluster.css" />

    <link rel="stylesheet" href="./css/Leaflet/MarkerCluster.Default.css" />

    <script src="../Control/js/Leaflet/leaflet.markercluster.js"></script>

	<!-- Barra de Escala -->

	<link rel="stylesheet" href="./css/Leaflet/Leaflet.GraphicScale.min.css" />

    <script src="../Control/js/Leaflet/Leaflet.GraphicScale.min.js"></script>

	<!-- Leaflet - Draw -->

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

	<!-- Turf -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
	<script src="https://unpkg.com/esri-leaflet@2.2.1/dist/esri-leaflet.js"
      integrity="sha512-6BBVttv13OVrrUSoGmy9/aIVHateyIEGFaQxqnzCgXT9LNCAQ1Cxxj43R6Eq0ynydS7a7bLLfmEWwXFiO6lW2g=="
      crossorigin=""></script>

	<!-- MarkerCluster -->

	<script src="../Control/js/Leaflet/leaflet-heat.js"></script>

	<!--- PRINT -->

	<script src="../Control/js/Leaflet/bundle.js"></script>

	<!--- PRINT -->

	<script src="../Control/js/Leaflet/leaflet.legend.js"></script>

	<script src="../Control/js/Leaflet/leaflet.legend.css"></script>


    <link rel="stylesheet" href="../Control/js/Leaflet/L.Control.Layers.Tree.css" crossorigin=""/>
    <script src="../Control/js/Leaflet/L.Control.Layers.Tree.js"></script>


	<!-- Cartografia - Camadas -->

	<script src="../Control/GeoJson/Cartografia/limitesMunicipais.geojson"></script>

	<script src="../Control/GeoJson/Cartografia/rodovias.geojson"></script>

	<script src="../Control/GeoJson/Cartografia/sedesMunicipais.geojson"></script>


	<!-- Macro Áreas - Camadas -->

	<script src="../Control/GeoJson/Macro_Areas/macro1.geojson"></script>
	<script src="../Control/GeoJson/Macro_Areas/macro2.geojson"></script>
	<script src="../Control/GeoJson/Macro_Areas/macro3.geojson"></script>
	<script src="../Control/GeoJson/Macro_Areas/macro4.geojson"></script>
	<script src="../Control/GeoJson/Macro_Areas/macro5.geojson"></script>
	<script src="../Control/GeoJson/Macro_Areas/macro6.geojson"></script>
	<script src="../Control/GeoJson/Macro_Areas/macro7.geojson"></script>
	<script src="../Control/GeoJson/Macro_Areas/macro8.geojson"></script>

	<!-- Unidades de Saúde - Camadas -->

	<script src="../Control/GeoJson/est_coordenadas.geojson"></script>

	<!-- Notificação Dengue - Camadas -->

	<script src="../Control/GeoJson/Dengue_not/not_2019.geojson"></script>
	<script src="../Control/GeoJson/Dengue_not/not_2020.geojson"></script>
	<script src="../Control/GeoJson/Dengue_not/not_2021.geojson"></script>
	<script src="../Control/GeoJson/Dengue_not/not_2022.geojson"></script>
	<script src="../Control/GeoJson/Dengue_not/not_2023.geojson"></script>
	<script src="../Control/GeoJson/Dengue_not/not_2024.geojson"></script>

	<!-- Confirmados Dengue - Camadas -->

	<script src="../Control/GeoJson/Dengue_conf/conf_2019.geojson"></script>
	<script src="../Control/GeoJson/Dengue_conf/conf_2020.geojson"></script>
	<script src="../Control/GeoJson/Dengue_conf/conf_2021.geojson"></script>
	<script src="../Control/GeoJson/Dengue_conf/conf_2022.geojson"></script>
	<script src="../Control/GeoJson/Dengue_conf/conf_2023.geojson"></script>


</head>

<body>

	<div id="map"  style="position: absolute;"></div>


	<!-- Códigos - Ícones -->

	<script src="../Control/js/Icones.js"></script>

	<!-- Códigos - Imagens de Mapas -->

	<script src="../Control/js/ImagensMapas.js"></script>

	<!-- Códigos - Mapa -->

	<script src="../Control/js/map.js"></script>

	<!-- Cartografia - geoJson -->

	<script src="../Control/js/Camadas/baseCartografica.js"></script>

	<!-- Macro Áreas - geoJson -->

	<script src="../Control/js/Camadas/macroAreas.js"></script>

	<!-- Unidades de Saúde - geoJson -->

	<script src="../Control/js/Camadas/UnidadeSaude.js"></script>

	<!-- Notificação Dengue - geoJson -->

	<script src="../Control/js/Camadas/NotDengue.js"></script>

	<!-- Confirmados Dengue - geoJson -->

	<script src="../Control/js/Camadas/ConfDengue.js"></script>

	<!-- Control Layer Tree -->

	<script src="../Control/js/Camadas/MapasCamadas.js"></script>

	

	<!-- Bootstrap js -->

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>

</html>
